<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin:0px;
            padding:0px;
            background-size:cover;
            background-position:center;
            font-family:sans-serif;
        }
        h1{
            font-size:26px;
            text-align: center;
            margin: 0px;
            padding: 0px 0px 20px;
            color:red;
        }
        a{
             text-align: center;
        }

    </style>
</head>
<body>
    <h1>Đăng nhập thành công</h1>
    <center><a href="{% url 'viewinfo' %}">Xem thông tin chi tiết</a></center>
</body>
</html>